<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:util="http://www.springframework.org/schema/util"  	
    xmlns:context="http://www.springframework.org/schema/context"	
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"	
	xsi:schemaLocation="http://www.springframework.org/schema/context         
	http://www.springframework.org/schema/context/spring-context-3.0.xsd     
	http://www.springframework.org/schema/data/mongo       
	http://www.springframework.org/schema/data/mongo/spring-mongo-2.0.xsd    
	 http://www.springframework.org/schema/data/repository
    http://www.springframework.org/schema/data/repository/spring-repository-1.5.xsd 
	http://www.springframework.org/schema/beans     
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 	
	<!-- 读取属性文件 -->	
	<!--
	<context:property-placeholder location="classpath:db.properties" /> 	
	-->
	<!-- 启用注解支持 -->	
	
	<context:annotation-config /> 	
	
	<!-- 扫描组件包 -->
	<!--
	<context:component-scan base-package="com.jastar.demo" /> 
	-->
	<!-- SpringData类型转换器 -->	
	<!--
	<mongo:mapping-converter id="mongoConverter">		
		<mongo:custom-converters>		
			<mongo:converter>			
				<bean class="com.jastar.demo.converter.TimestampConverter" />		
			</mongo:converter>	
		</mongo:custom-converters>	
	</mongo:mapping-converter> 
	-->
	<!-- 		MongoDB配置部分 		
					1.mongo：连接配置 		
					2.db-factory：相当于sessionFactory 		
					3.mongoTemplate：与数据库接口交互的主要实现类 
		-->
	<!--
		<mongo:mongo host="${mongo.host}" port="${mongo.port}">	
			<mongo:options 			
				connections-per-host="${mongo.connectionsPerHost}"			
				threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"			
				connect-timeout="${mongo.connectTimeout}" 			
				max-wait-time="${mongo.maxWaitTime}"			
				auto-connect-retry="${mongo.autoConnectRetry}" 			
				socket-keep-alive="${mongo.socketKeepAlive}"			
				socket-timeout="${mongo.socketTimeout}" 			
				slave-ok="${mongo.slaveOk}"			
				write-number="${mongo.writeNumber}" 			
				write-timeout="${mongo.writeTimeout}"			
				write-fsync="${mongo.writeFsync}" />	
		</mongo:mongo> 	
		<mongo:db-factory  dbname="${mongo.dbname}" mongo-ref="mongo" /> 	
		<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">		
			<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />		
			<constructor-arg name="mongoConverter" ref="mongoConverter" />	
		</bean> 
		-->
	<mongo:mongo-client id="mongo" host="127.0.0.1" port="27017" >        
		<mongo:client-options
			connections-per-host="8"      
			threads-allowed-to-block-for-connection-multiplier="4"      
			connect-timeout="1500"     
			max-wait-time="1500"        		     
			socket-keep-alive="true"     
			socket-timeout="1500"           
			/>     
	</mongo:mongo-client>
	<!-- 设置使用的数据库 名-->    
	<mongo:db-factory dbname="test"  mongo-ref="mongo"/>    
	<!-- mongodb的模板 -->    
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">       
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>    
	</bean> 



</beans>

	